@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "@crymson-core/forms";
@source "@crymson-core/web";
@source "@crymson-core/ui";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-key: var(--font-phosphate);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  svg {
    @apply fill-current overflow-visible;
  }

  h1,
  h2,
  h3 {
    @apply font-key uppercase tracking-widest text-center;
  }

  h1 {
    @apply text-8xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  .test {
    @apply border border-red-500;
  }

  button,
  [role="button"] {
    cursor: pointer;
  }

  .label-text {
    @apply font-semibold uppercase text-cyan-500;
  }

  input[type="number"] {
    @apply w-[8ch];
  }

  .input-container {
    @apply border-2 rounded py-1 px-2 border-cyan-500;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
